body {
  margin-top: 10px; }

@media screen and (max-width: 768px) {
  body body {
    margin-top: 0px; } }

.col-col-xs-6, .col-sm-4, .col-md-3, .col-sm-8, .col-md-4 {
  padding: 0px;
  margin: 0px; }

.img-thumbnail {
  padding: 2px !important; }

.portfolio p {
  font-family: Roboto;
  font-size: 1.5em;
  margin-bottom: 70px; }
  @media screen and (max-width: 768px) {
    .portfolio p {
      font-size: 1.2em; } }
